.dashboard .page-title {
	position: absolute;
	top: 2rem;
	margin: 0;
	font-size: 2rem;
	grid-column: 2;
}

.dashboard .inner-container {
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	grid-auto-rows: min-content;
	gap: 2rem 3rem;
	align-items: start;
	justify-items: stretch;
	padding-top: 6rem;

}

/* ---------Stats row --------- */
.dashboard .stats-grid {
	grid-column: 1 / -1;
	display: flex;
	justify-content: space-evenly;
	gap: 4rem;
	color: black;
	font-weight: bold;

}

.dashboard .stat {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	padding: 1rem 1.5rem;
}

.view {
	color: black;
	font-weight: bold;
	font-size: 1.7rem;
}


/* -------- Logout -------- */
.logout-btn {
	position: absolute;
	top: 2rem;
	right: 2.5rem;
	z-index: 1000;
	padding: 1rem 1.5rem;
	font-size: 1rem;
}

.euro {
	color: #000;
	font-size: 1.3rem;
	font-weight: bold;
	line-height: 1.2;
}

.euro.amount-positive { color: #006600 !important;}
.euro.amount-negative { color: #a00000 !important;}
.euro.amount-zero { color: #000000 !important;}


